.container {
  margin: 12% 25% 0% 25%;
}

.calculator {
  display: grid;
  grid-template-areas:
    "zero zero zero zero"
    "numbers numbers numbers operator"
    "numbers numbers numbers operator"
    "numbers numbers numbers operator"
    "numbers numbers numbers operator"
    "numbers numbers numbers operator";
}

.zero {
  grid-area: zero;
  color: #fff;
  font-size: 2rem;
  text-align: right;
  padding: 1rem 0.5rem;
  background-color: #858693;
}

.numbers {
  grid-area: numbers;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #e0e0e0;
}

.button {
  text-align: center;
  border: 1px solid #bababa;
  padding: 1rem;
}

.numbers button:nth-child(13) {
  grid-column: span 2;
}

.operator {
  grid-area: operator;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.operator .button {
  background-color: #e18132;
}

.quotes {
  list-style: none;
}

.quotes li {
  padding-left: 21%;
  margin-right: 14%;
}

.error,
.loading {
  margin-left: 45%;
}
